@CHARSET "ISO-8859-1";

body{
	background-image: url('bg-t.jpg');
	background-repeat: repeat-x;
	}
.MenuCima:link, .MenuCima:visited {
									text-decoration:none;
									font-family:Verdana, Arial;
									font-size:70%;
									color:#00BFFF;
									}
.MenuCima:hover {
				font-family:Verdana, Arial;
				font-size:70%;
				color:white;
				}
.tabela1	{
			position:absolute;
			top:12%;
			left:35%;
			margin:0px;
			padding:0px;
			}

input[type=submit] {
					background:none;
					border: 1px solid #0d2c52;
					background:white;
					}